<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <meta name="description" content="Django Development Sprints. Three days to get together and work on Django.">
    <meta property="og:image" content="https://djangomed.eu/img/DotM-Logo@3x.png" />
    <title>Django on the Med 🏖️</title>
  </head>
  <body>
    <main class="container">
      <h1>Django on the Med 🏖️</h1>

      <p>
      <strong>Django Development Sprints</strong>.
      Three days to get together and work on Django.
      </p>

      <p>Once a year, in Pescara, Italy, and Palafrugell, Spain.</p>

      <p>The second Django on the Med 🏖️ will be <strong>23rd-25th September 2026, in Pescara Italy</strong>.
      Hope to see you there!</p>

      <hr />
        <p>Sign up to our email list for updates. Django on the Med 🏖️ content only</p>

        <form
          action="https://buttondown.com/api/emails/embed-subscribe/django-on-the-med"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.com/django-on-the-med', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
          <label for="bd-email">Enter your email:</label>
          <input type="email" name="email" id="bd-email" />

          <input type="submit" value="Subscribe" />
        </form>

        <small>Check your spam if you don't get the confirmation email.
        <a href="https://buttondown.com/django-on-the-med/archive/">Archives here</a></small>

      <hr />
        <p>Django on the Med 🏖️ will be free to attend. You'll need to get there, and there's food and accommodation to think about. We'll try to help folks organise shares.</p>

        <p>It's a Django community event. The Django Code of Conduct will apply throughout</p>

        <h2 id="goals">What are we going to achieve?</h2>

        <p>The <em>Django on the Med 🏖️</em> name (and the emoji) is a bit of fun — it's a holiday theme based on the location — but we have <strong>serious goals</strong>.

        <ul>
            <li>
            We want to <strong>gather the community</strong>. Be it Fellows, members of the Steering Council and DSF Board, DSF Individual Members, experienced contributors, and new ones just starting out. We want to give folks <strong>time and a shared space</strong> to work on pushing Django forwards.
            </li>
            <li><p>Hold a <strong>Roadmap Workshop</strong> to take ideas from the New Features repo, Steering Council, and Community and determine a good story for the target areas we want to focus on during the 6.x cycle.</p>

                <!--  -->
                <details open>
                    <summary><small>Some ideas to get you going…</small></summary>

                    Here are a few thoughts that are top of my list. What are yours?

                    <ul>
                    <li>Modernising <strong>contrib.auth</strong>.
                    This is a big one — that was identified in the last roadmap session.
                    How can we add two-factor authentication to Django?
                    Can we add an API, and then perhaps a TOTP backend? What about passkeys? Could that be in a simple (recommended) third-party package?
                    As a quick win, could we survey the existing landscape, so users were clear on what's already possible?
                    </li>

                    <li>
                    Improving the <strong>REST/JSON API</strong> story. It's already possible with DRF and Django Ninja (and more), but <strong>at the least</strong> do we need a <em>How-To</em> in the docs about building an API in Django? Can we promote what we have better on the new Ecosystem page? Are there actual changes we need in core here?
                    </li>
                    <li>Completing the <strong>async</strong> story. We're very nearly there. Async cursors for the ORM are the last major technical step. So can we put that in an third-party backend so folks can get experimenting? But people still think Django's async story is not as far along as it is. Again, do we need a <em>How-To</em> in the docs about using async in Django. Same as with APIs, we don't want folks wrongly thinking that Django isn't a viable solution for them in this space when it more than likely is. </li>

                    <li><strong>Typing</strong>. There's a lot of desire for this, especially from our more heavyweight users. It's 2025. What's the state of play? What are the concerns? Is there a path forward, on which we can enable (or boost) the typing story in Django for people who want it?
                    </li>
                    </ul>



                </details>



            </li>

            <li><p>Break down ideas into <strong>actionable steps</strong>. What does a solution look like? Often things are already possible, so do we need <em>How-To</em> documentation? How can we experiment in third-party packages? Which bits should remain there vs which bits need to make it into core? How can we promote all this to help uptake? </p>
</li>

<li>
Give <strong>experienced contributors</strong> the space to collaborate and focus on the difficult issues they're working on.
</li>
<li>Mentor <strong>new contributors</strong> that attend, allowing them to join work and get up to speed quickly.</li>
        </ul>




        <h3>What does success look like?</h3>

        <ul>
            <li><strong>You came. We did it!</strong> First and foremost we'll show that a dedicated sprint event for Django's contributor community is feasible. If we can do it once, we can do it many times.</li>
            <li>
                We'll have advanced <strong>Django's Roadmap</strong> for the 6.x development cycle, and beyond. We can take this back to the wider community for input and buy-in.</li>
            <li>They'll be breakdowns of the target feature areas we want to focus on, that give guidance and <strong>opportunities for contributors</strong> (new and old) who want to do the work.</li>

        <li>Experienced contributors will have had time to <strong>push forward</strong> the projects that they're working on.</li>

        <li>New contributors will have been <strong>onboarded</strong> to the process of contributing to Django.</li>

        <li>We'll have reinforced the social bonds that underpin Django's biggest strength — You! — its <strong>community</strong>.</li>

        </ul>


		<p>More info about Pescara coming soon...<p>


        <h3>Accessibility</h3>

        <p>If you have accessibility needs that may determine whether you can
        attend, please reach out and let us know.</p>

        <h2>FAQ</h2>

        <h3>Who's doing this?</h3>

        <p><a href="https://fosstodon.org/@paulox">Paolo</a> (DSF Board) and <a href="https://chaos.social/@carlton">Carlton</a> (6.x Steering Council)</p>

        <h3>What's with the timing?</h3>
        <p>Pescara and Palafrugell are both nice places. They're touristy, so there's lots to do, lots of accommodation, and plenty of places to eat.</p>
        <p>But you can't do anything in the summer. It's too hot, too busy, and too expensive.</p>
        <p>Autumn is a bit cooler. Still nice — if we're going to work on Django nicer even — but less crowded, and a lot easier on the wallet.</p>

        <h3>What do the days look like?</h3>
        <p>We're going to work on Django in the mornings, until early afternoon.</p>
        <p>The rest of the day and evenings are for exploring, socialising or not, and having fun.</p>

        <h3>Can I stay a bit longer?</h3>
        <p>Of course! There's plenty to see and do around. Come early. Stay for longer. Bring the family. All up to you.</p>

        <h3>Can I sponsor?</h3>
        <p>Absolutely! The main thing we need is a <strong>Breakfast Sponsor</strong>. (Could that be you? Reach out!) If we can get more than that, we can try to do opportunity grants, and such.</p>

    </main>
  </body>
</html>
